@import "imports/_var.less";


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: @text-color-dark;
  background-color: @bg-main;
  height: 100vh;
  padding: 2rem;

}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  h1 {
    font-size: 2.5rem;
  }

}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.login {
  display: flex;
  position: relative;

  .hint {
    position: relative;
    font-size: 2rem;
    padding: 0 .5rem;
    margin-right: .5rem;
    border: none;
    background-color: transparent;

    &:hover {
      color: @red-accent;
      cursor: pointer;
    }

    &__data {
      position: absolute;
      top: 4rem;
      left: 0;
      font-size: 1.3rem;
    }

  }

  .hidden {
    display: none;
  }

  &__input {
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 12rem;
    border-radius: .5rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid @bg-white;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border: 1px solid @text-color-grey;
    }

    &::placeholder {
      color: #bbb;
    }
  }

  &__btn {
    border: none;
    background: none;
    font-size: 2.2rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:hover,
    &:focus {
      outline: none;
      color: @text-color-grey;
    }
  }

}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  opacity: 0;
  transition: all 1s;

  .balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__label {
      font-size: 2.2rem;
      font-weight: 500;
      margin-bottom: -0.2rem;
    }

    &__date {
      font-size: 1.4rem;
      color: @text-color-grey;
    }

    &__value {
      font-size: 4.5rem;
      font-weight: 400;
    }
  }

  /* MOVEMENTS */

  .movements {
    grid-row: 2 / span 3;
    background-color: @bg-white;
    border-radius: 1rem;
    overflow: scroll;

    &__row {
      padding: 2.25rem 4rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid lighten(@text-color-grey, 35%);
    }

    &__type {
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 500;
      color: @text-color-white;
      padding: 0.1rem 1rem;
      border-radius: 10rem;
      margin-right: 2rem;

      &--deposit {
        background-image: @deposit-grad;
      }

      &--withdrawal {
        background-image: @withdrawal-grad;
      }
    }

    &__date {
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 500;
      color: @text-color-grey;
    }

    &__value {
      font-size: 1.7rem;
      margin-left: auto;
    }
  }

  /* SUMMARY */

  .summary {
    grid-row: 5;
    display: flex;
    align-items: baseline;
    padding: 0 0.3rem;
    margin-top: 1rem;

    &__label {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 0.8rem;
    }

    &__value {
      font-size: 2.2rem;
      margin-right: 2.5rem;

      &--in,
      &--interest {
        color: @green-accent;
      }

      &--out {
        color: @red-accent;
      }
    }

    .btn--sort {
      margin-left: auto;
      border: none;
      background: none;
      font-size: 1.3rem;
      font-weight: 500;
      cursor: pointer;
    }
  }

  /* OPERATIONS */

  .operation {
    border-radius: 1rem;
    padding: 3rem 4rem;
    color: #333;

    &--transfer {
      background-image: @transfer-grad;
    }

    &--loan {
      background-image: @loan-grad;
    }

    &--close {
      background-image: @close-grad;
    }

    h2 {
      margin-bottom: 1.5rem;
      font-size: 1.7rem;
      font-weight: 600;
      color: #333;
    }

    .form {
      display: grid;
      grid-template-columns: 2.5fr 2.5fr 1fr;
      grid-template-rows: auto auto;
      gap: 0.4rem 1rem;

      /* Exceptions for interst */

      &--loan {
        grid-template-columns: 2.5fr 1fr 2.5fr;
      }

      &__label--loan {
        grid-row: 2;
      }

      /* End exceptions */

      &__input {
        width: 100%;
        border: none;
        background-color: @bg-main;
        font-family: inherit;
        font-size: 1.5rem;
        text-align: center;
        color: #333;
        padding: 0.3rem 1rem;
        border-radius: 0.7rem;
        transition: all 0.3s;
      }

      &__label {
        font-size: 1.3rem;
        text-align: center;
      }

      &__btn {
        border: none;
        border-radius: 0.7rem;
        font-size: 1.8rem;
        background-color: @bg-main;
        cursor: pointer;
        transition: all 0.3s;
      }

      &__btn:focus {
        outline: none;
        background-color: fadeout(@bg-main, 50%);
      }
    }

  }

  .logout-timer {
    padding: 0 0.3rem;
    margin-top: 1.9rem;
    text-align: right;
    font-size: 1.25rem;
  }

  .timer {
    font-weight: 600;
  }

  .timer {
    font-weight: 600;
  }

}

@import "imports/_media.less";

